---
export interface Props {
  title: string;
  description: string;
  price?: string;
  bullets?: string[];
  href?: string;
  image?: string;
  alt?: string;
}

const {
  title,
  description,
  price,
  bullets = [],
  href,
  image,
  alt,
} = Astro.props;
---

<a
  href={href}
  class="bg-gray-100 hover:shadow-md rounded-md overflow-hidden flex flex-col border-l-4 border-primary group"
>
  <div class="flex gap-4 flex-1 p-8">
    <div class="flex-1 flex flex-col gap-3">
      <h2
        class="text-xl text-montserrat text-primary-dark font-bold group-hover:text-primary transition-colors"
      >
        {title}
      </h2>
      <p class="text-secondary leading-relaxed">{description}</p>
      {
        price && (
          <div class="mt-auto pt-3">
            <span class="inline-block text-primary-dark text-sm font-semibold">
              From ${price}
            </span>
          </div>
        )
      }
    </div>
    {
      image && (
        <div class="flex-1 bg-gray-200 rounded-md overflow-clip">
          <img
            src={image}
            alt={alt ?? title}
            class="object-cover h-full w-full aspect-square"
            loading="lazy"
          />
        </div>
      )
    }
  </div>
</a>
